<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>flask index html</title>
    <link rel="stylesheet" href="/static/css/mycss.css">
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <link rel="stylesheet" href="/static/css/bootstrap-grid.css">
    <link rel="stylesheet" href="/static/css/bootstrap-reboot.css">
</head>
<body>
        <div class="page-header">
            <h1>Auto Poetry</h1>
        </div>
            <input id="flask_hide" type="text" class="form-control"/>
            <input id="test_hide" class="btn btn-default" type="button">生成藏头诗(输入必须为4个字)</input>
            <div><p id="result_hide" class="btn btn-default"></p></div>

            <input id="flask_fir" type="text" class="form-control"/>
            <input id="test_fir" class="btn btn-default" type="button">给出诗的首字</input>
            <div><p id="result_fir" class="btn btn-default"></p></div>

{#            <input id="flask_sen" type="text" class="form-control"/>#}
{#            <input id="test_sen" class="btn btn-default" type="button">给出第一句</input>#}
{#            <div><p id="result_sen" class="btn btn-default"></p></div>#}

    <script src="/static/js/jquery-3.4.0.min.js"></script>
    <script src="/static/js/bootstrap.bundle.js"></script>
    <script src="/static/js/bootstrap.js"></script>
    <script src="/static/js/logic.js"></script>
</body>
</html>